<div class="wrapper">
  <form [formGroup]="taskForm">
    <div class="form-wrapper">
      <div class="form-group">
        <input formControlName="title" type="text" class="form-control" placeholder="Type something...">
      </div>
      <button (click)="onSubmitTask()" [disabled]="taskForm.invalid" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

  <app-task-item
    *ngFor="let item of taskList"
    [task]="item"
    (deleted)="onDeleteTask($event)"
    (edited)="onEditTask($event)"
    (done)="onDoneTask($event)">
  </app-task-item>
</div>
